.sections {
  margin-top: 60px;
  margin-bottom: 60px;
}

.navbar p.logo {
  font-family: 'Open Sans', sans-serif;
  color: gold;
  font-size: 1.3em;
}

.navbar a {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.navbar .col-md-3 {
  text-align: right;
}

.navbar .col-md-1 {
  text-align: center;
  align-self: center;
}

.container-fluid.top {
  background-image: url("/images/header-bg.jpg");
  background-size: cover;
}

.intro div {
    padding-top: 140px;
    text-align: center;
}

.intro h1 {
  color: white;
  font-size: 60px;
}

.intro h2 {
  color: white;
  font-size: 40px;
}

.intro .button {
  color: white;
}

.intro button {
  background-color: gold;
  color: white;
  padding: 0;
  font-size: 18px;
  padding: 20px 30px;
  font-weight: bold;
}

.top {
  padding-bottom: 120px;
  margin-top: 0px !important;
}

.our-services {
  width: 75%;
}

.services-intro {
  text-align: center;
}

.services-tiles {
  text-align: center;
  margin-top: inherit;
  // margin-bottom: 120px;
}

.services-title {
  font-size: 40px;
  margin-bottom: auto;
}

.services-intro p {
  font-style: italic;
  margin-top: 8px;
  color: darkgray;
  font-size: 18px;
}

.services-tiles i {
  color: gold;
  font-size: 30px;
  border: 2px solid gold;
  padding: 14px;
  // height: 50px;
  // width: 50px;
  border-radius: 180px;
}

.services-tiles p {
  color: darkgray;
}

.services-tiles h4 {
  font-size: 20px;
}

.our-portfolio {
  background-color: #f8f9fa;
}

.portfolio-intro {
  text-align: center;
  padding-bottom: 20px;
}

.portfolio-tiles {
  text-align: center;
  margin: 0 160px 120px 160px;
}

.portfolio-title {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 0;
}

.portfolio-intro p {
  font-style: italic;
  margin-top: 8px;
  color: darkgray;
  font-size: 18px;
}

.portfolio-tiles p {
  color: darkgray;
  margin-top: 0;
  font-style: italic;
}

.portfolio-tiles h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.portfolio-tiles img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.portfolio-tiles .col-mfd-4 {
      margin-bottom: 40px;
}

.portfolio-text {
  background-color: white;
  padding: 20px 0;
}

.portfolio-text h4 {
  margin-top: 0;
}
