// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
//
// $font-header: 'Montserrat', sans-serif;
//
// h1, h3, h4 {
//   font: $font-header;
// }

.navbar p.logo {
  font-family: 'Open Sans', sans-serif;
  color: gold;
  font-size: 1.3em;
}

.navbar a {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.navbar .col-md-3 {
  text-align: right;
}

.navbar .col-md-1 {
  text-align: center;
  align-self: center;
}

.container-fluid.top {
  background-image: url("/images/header-bg.jpg");
  background-size: cover;
}

.intro div {
    padding-top: 140px;
    text-align: center;
}

.intro h1 {
  color: white;
  font-size: 60px;
}

.intro h2 {
  color: white;
  font-size: 40px;
}

.intro .button {
  color: white;
}

.intro button {
  background-color: gold;
  color: white;
  padding: 0;
  font-size: 18px;
  padding: 20px 30px;
  font-weight: bold;
}

.top {
  padding-bottom: 120px;
}

.our-services {
      margin-top: 60px;
      width: 75%;
}

.services-intro {
  text-align: center;
}

.services-tiles {
  text-align: center;
  margin-top: inherit;
  margin-bottom: 120px;
}

.services-title {
  font-size: 40px;
  margin-bottom: auto;
}

.services-intro p {
  font-style: italic;
  margin-top: 8px;
  color: darkgray;
  font-size: 18px;
}

.services-tiles i {
  color: gold;
  font-size: 30px;
  border: 2px solid gold;
  padding: 14px;
  // height: 50px;
  // width: 50px;
  border-radius: 180px;
}

.services-tiles p {
  color: darkgray;
}

.services-tiles h4 {
  font-size: 20px;
}
